
<div class="pensamento {{pensameto.modelo}} ff-roboto-mono" [ngClass]="larguraPensamento()">
  <img src="../assets/image/{{pensameto.modelo}}.png" alt="Aspas Coloridas">
  <p class="conteudo">{{pensameto.conteudo}}</p>
  <p class="autoria"><b>{{pensameto.autoria}}</b></p>

  <div class="acoes">
    <button class="botao-editar">
      <img src="../assets/image/icone-editar.png" alt="Icone editar">
      <img src="../assets/image/icone-excluir.png" routerLink="/pensamentos/excluirPensamento/{{pensameto.id}}" alt="Icone Excluir">


    </button>
  </div>

</div>
